body{
	background-image: url(../img/wp.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 50em;
	font-weight: bold;
	font-size: 20px;
	color: white;
	word-break: break-word;
}
.container{
	word-break: break-word;
	border: 2px solid;
	text-align: center;
  margin: auto;
  width: 60%;
  height: auto;
  border: 3px solid green;
  padding: 10px;
}
.input-field{
	display: block;
	padding: 55px;
}

input[type="text"]{
	padding: 10px 10px;
	width: 20em;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus{
	color: blue;
	outline-color: blue;
}
label{
	display: block;
}
button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;

}
/* Green */
.success {
  border-color: #04AA6D;
  color: green;
}

.success:hover {
  background-color: #04AA6D;
  color: white;
}


/* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue
}

.info:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.warning {
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

/* Gray */
.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: #e7e7e7;
}

.show-result{
	text-align: right;
	border : 1px solid;
}

/*#questions{
  margin: auto;
  height: auto;
  width: 500px;
  border: 3px solid green;
  padding: 0px;
}*/
/*.quiz-body{
	display: block;
	width: 500px;
	height: auto;
}
.quiz-body > .left {
	padding: 10px 0;
	float: left;
}
.quiz-body > .right {
	padding: 10px 0;
	float: right;
}*/
.foot{
	text-align: center;
	margin: 5px 0;
}

.final{
  background-image: url(../img/25817.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 31em;
	font-weight: bold;
	font-size: 20px;
	color: white;
	word-break: break-word;
}